


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodywrap{
    background-color: whitesmoke;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 75px;
    max-height: 120px;
    display: flex;
    align-items: center;
    background-color: #eee;
    justify-content: space-between;
    margin-bottom: 75px;
}
#nav-bar{
  display: block;
}
#nav-bar ul{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav-bar li{   
    padding: 10px; 
    margin:0px 10px;
    font-size: 20px;
}

.logo-container{
    width: 100%;
}
#header-image{
    max-height: 60px;
    max-width: 60px;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}

#hero{
    margin-top: 75px;
}

#video{
}

@media (max-width:600px) {
    header{
        flex-direction: column;
    }
    #hero{
        margin-top: 102px;
    }
}